{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket System</title>
    <link rel="stylesheet" href="{% static 'TS/css/about.css' %}">
</head>
<body>
        <nav class="sidebar">
        <h2>Ticket System</h2>
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/create/">Create Ticket</a></li>
            <li><a href="/tech_knowledge/">Tech knowledge</a></li>
            <li><a href="/about/" class="active">About</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>
    </nav>
</body>
</html>